<h3>Bienvenue sur Doletic !</h3>

Bonjour {{ name }} !

Tu as été inscrit sur Doletic. Tu peux te connecter à l'adresse {{ url }} en utilisant les identifiants :
Nom d'utilisateur : {{ username }}
Mot de passe : {{ password }}

Si tu ne fais pas partie de {{ jeName }}, contacte {{ webmaster }} pour que ton compte soit supprimé.

A bientôt sur Doletic !

